// Specific CSS for your home-page
.Account-Balance{
  width: 300px;
  height: 175px;
  background: asset-url('28.-Deco.jpg');
  background-color: black;
  border-radius: 25px;
  box-shadow: 0px 10px 10px #292D32;
  margin-top: 50px;
  padding-left: 10px;
  margin: auto;
 }

 .Account-Balance .Account-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
  padding-top: 10px;
 }

 .Account-Balance .Account-logo h3{
   color: #F2F2F2 ;
   padding-left: 5%;
   padding-top: 5%;

 }

 .Account-Balance .card-number {
  color: #F2F2F2 ;
  padding-left: 65px;
  padding-top: 5%;
  font-size:large;
  font-weight: 200;
}

.Account-Balance .account-name {
  color: #F2F2F2 ;
  padding-left: 55%;
  padding-top: 5%;
  font-size: 10;
  padding-right: 1%;
  margin-right: 0%;
}

.Account-Balance .card-balance {
  color:#F2F2F2 ;
  padding-top: 5px;
  padding-left: 65px;
}

.transaction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  padding-left: 5%;
  padding-top: 10%;
  align-items: flex-end;
  padding-right: 5%;
  margin-bottom: 5%;
}

.transac {
  font-size: 15px;
}

.details {
  font-size: 15px;
  padding-right: 0%;
  text-align: right;
  color: #00A3FF;
}

.transaction-history {
  width: 70%;
  height: 75px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 10px 10px #dcdcdd;
  padding-top: 0%;
  margin-left: 10%;
  margin-right: 15%;
  align-items: center;
  padding-right: 10%;
  margin: auto;
  justify-content: center;
 }

 .transac-hist {
  margin: auto;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .image-box {
  width: 15%;
  text-align: center;
  padding-top: 15%;
  padding-left: 2.5%;
 }

 .income {
   font-size: 18px;
   align-items: center;
   padding-top: 15%;
   padding-left: 0%;
   padding-right: 23%;
 }

 .amount-transact {
   padding-top: 15%;
   padding-left: 12%;
   font-size: 15px;
   color: green;

 }
