


  .search-transaction-title{
    color: #292D32;
    font-size: 10px bold;
    margin-top: 13px;
    margin-left: 65px;


  }


  // search bar css



  .form-control {
    position: relative;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    border: 1px solid #E7E7E7;


  }




  .searchcenter-tr-index-pg{
    width: 150px;
    padding-top: 20px;
    padding-left: 30px;



  .btn-primary {
    background-color: #292D32;
    border-radius: 18px;
    color: #B2AFAF;
    border-color: black;
  }



  }






  .form-control:focus {
    border: 1px solid #080A0B;
    outline: none !important;
    box-shadow: 0 2px 6px rgba(87, 12, 226, 0.08);
  }





// // transaction view details link


.transaction-history-tr-index-pg {
  width: 100%;
  height: 80px;
  background-color: #FAFAFA;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  // box-shadow: 0px 10px 10px #dcdcdd;
  padding-top: 0%;
  margin-left: 30px;
  margin-right: 60px;
  align-items: center;
  // padding-right: 60px;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px;
 }

 .transac-hist-tr-index-pg {
  margin: auto;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .transaction-datebox-tr-index-pg {
  width: 15%;
  text-align: center;
  padding-top: 15%;
  padding-left: 2.5%;
 }



//  The below CSS are for the elements inside the div.----------------------------------------

// this is for "Nandos"

 .income-tr-index-pg {

   padding-top: 3%;
   padding-right: 60px;
   margin-right: -53px;
   padding-left: 10px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: clip;
   font-size: 15px bold;
   display: inline-block;

  //  clear: both;

 }


 // THIS IS FOR THE DATE

 .transaction-date-tr-index-pg {


  font-size: 15px;
  color: #292D32;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  display: flex;
  margin-left: 11px;
  padding-bottom: 10px;




 }


 // this is for "RS 250" --> amount


 .amount-transact-tr-index-pg {
   font-size: 15px;
   color: #34B578;
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   padding-right: 30px;
   margin-right: -4px;


   white-space: nowrap;
   overflow: hidden;
   text-overflow: clip;
   padding-top: 22%;


 }

//  this is for the income/ link tag

 .category-check-tr-index-pg {
  margin-top: 7px;
  color: #292D32;
  font-weight: bold;
  padding-left: 130px;


 .link {
  text-decoration: none;
  color: #292D32;
 }


 }



// space div




 .space-div1-tr-index-pg{
  margin-bottom: 34px;
 }



 .space-div2-tr-index-pg{
  margin-bottom: 105px;
 }



 //
