<div class = "amount">
   <h3 class = "how">How much for <%= @budget.category.name %>?</h3>
</div>

<% @account = Account.find(params[:account_id]) %>
<div class = form>
  <div class = "budget-form">
    <%= simple_form_for [@account,@budget] do |f| %>
      <%= f.input :amount, label: "Amount", input_html: { class: "input" }, class: "input_amount"%>
      <div class = "button-submit">
        <%= f.submit "Submit", class: "btn-budget-new" %>
      </div>
    <% end %>
  </div>

</div>
