.footer {
  background: white;
  display: flex;
  align-items: center;
  color: white;
  // width: 100%;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
}

.material-icons {

  background: white;
  padding: 35px;
  display: inline-block;
  font-size: 38px;
  justify-content: space-around;
  margin-bottom: 20px;
  color: black;
  font-weight: 400;
  align-items: center;


}


.fa {

  background: white;
  padding: 30px;
  justify-content: space-around;
  color: black;
  font-weight: bold;
  margin-bottom: -16px;
  align-items: center;
  font-size: 30px;

}
