// ------------------ footer icons css -------------------


.footer {
  background: white;
  display: flex;
  align-items: center;
  color: white;
  margin-top: 20px;
  position: fixed;
  bottom: -1px;
  width: 100%;
  padding-bottom: 2px;


}


.fa {
  background: white;
  color: black;
  margin-bottom: -4px;
  font-size: 30px;
  padding: 20px;
  display: inline-block;


}


.fa-search{
  padding-left: 26px;
}

.fa-check-circle{
  padding-left: 18px;

}

.fa-plus-circle{
  padding-left: 29px;
}


.fa-wallet{

  padding-left: 26px;
}





// ---------------------- DROP UP MENU CSS ------------------
#footer li ul{
  list-style: none;
  padding: 0px;
  margin-bottom: 20px;
}


#footerMenu{
margin: 0px;
padding: 0px;
width: auto;
}


#footerMenu li{
list-style: none;
float: left;
font-size: 16px;
padding: 12px 14px 12px 12px;
color: rgb(217,217,217);
border-right: 1px solid white;
background: rgba(0, 0, 0, 0.1);

}

#footerMenu li{
  color: black;
  background-color: white;

}

#footerMenu li ul.dropupMenu{
  display: none;

}

.clickdropupMenu{
  display: block !important;
  position: absolute;
  font-weight: bold;
  margin: 0 0 0 -45px;
  border: 1px solid white;
  border-bottom: none;
  background: rgb(255, 255, 255);;
  z-index: 999;
  bottom: 66px;


  font-size: 35px;
  padding-right: 9px;
  padding-left: 9px;
  a {
    text-decoration: none;
    color: black;
  }



  }

#footerMenu li{
  float: none;
  background-color: white;

  border-bottom: 1px solid #292D32;
  padding: 12px 10px 12px 10px;





  .secondlimod {

    border-bottom: 1px solid white;
  }


}
