<div class ="balance">
  <div class ="Account-Balance" >
  <h3>Balance</h3>
  <h1 class ="amount"> <%= current_user.account.account_number %> </h1>
  <h4 class = "account-name"> <%= current_user.name %> </h4>
  </div>
</div>

<div class = "transaction">
  <h3 class = "transac">Transactions</h3>
  <h3 class= "details">View Details</h3>
</div>

<div class = "transaction-history">
  <div class = "transac-hist">
    <div class="image-box">
      <%= image_tag("income.png",width: 30, height: 30)%>
    </div>
    <div  class = "income">Income</div>
    <div class = "amount-transact">+ $700</div>
  </div>
</div>
