<h2>Overall expenses for the month of <em><%= Time.now.strftime("%B") %></em></h2>
<p><%= @total_expenses %></p>


<canvas id="totalExpensesChart" data-controller="chart-js" data-labels="<%= @data_keys %>" data-data="<%= @expenses_per_category %>" width="400" height="400"></canvas>
